<section class="section">
  <div class="container">
    <h1 class="title">Grades Dashboard</h1>
  </div>
</section>
<section class="section">
  <div class="container">
    <hr />
    <h2 class="subtitle"><strong>Student name</strong></h2>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Course</th>
          <th>Average</th>
          <th>Grade</th>
          <th>Last Update</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>English</td>
          <td>95.45</td>
          <td>A</td>
          <td>12/12/2017</td>
        </tr>
        <tr>
          <td>English</td>
          <td>95.45</td>
          <td>A</td>
          <td>12/12/2017</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
